@import "@vscode/codicons/dist/codicon.css";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h2.nextra-border {
   border-bottom: none !important;
}

.home-grid {
  display: grid;
  gap: 16px;
  margin-bottom: 0 auto;
}

.home-card {
  text-align: left;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: #242424;
  transition: background 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
}

.home-card:hover {
  transform: translateY(-2px);
  border-color: rgba(0, 0, 0, 0.2);
}

.dark .home-card {
  color: #e2e2e2;
  background: rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.12);
}

.dark .home-card:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.home-grid .home-card i {
  height: 48px;
  width: 48px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.home-card h3 {
  color: #242424;
  font-weight: 600;
  line-height: 160%;
  font-size: 16px;
  margin: 0;
}

.dark .home-card h3 {
  color: #e2e2e2;
}

@media (max-width: 1024px) {
  .home-grid {
    grid-template-columns: 1fr !important;
  }
}

.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;
  border-radius: 8px;

  font-weight: 600;
  text-decoration: none;

  background: #009c6f;
  color: white;

  transition: background 0.2s ease, transform 0.2s ease;
}

.download-btn:hover {
  background: #007a56;
  transform: translateY(-1px);
}

.dark .download-btn {
  background: #009c6f;
  color: white;
}

.dark .download-btn:hover {
  background: #007a56;
}
